<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>
<body>
   
    <div class="newpost">
    
        <a href="/posts/form">New Post</a>
       

    </div>

    <div class="blocks">

      <% posts.forEach(p => { %>
    
        
        <div class="card" style="width: 25rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= p.title%></h5>
            <p class="card-text"><%= p.message %></p>
          </div>
          
  
  
          <ul class="list-group list-group-flush">
            
            <li class="list-group-item">
              <% p.comments.forEach(c => { %>
                <p><%= c.comment %></p>
              <% }) %>
              <form action="/comments/<%= p.id %>" method="POST" class="commmentform">
              <input type="text" name="Des" ><button type="submit">Add Comment</button>
              </form></li>
            
              
            </ul>
            <form method="POST" action="/posts/<%= p.id %>?_method=DELETE">
              <button type="submit">delete</button>
            </form>
        </div>
           <br>
          <% }) %> 
    </div>
    


</body>
<style>
 
.newpost{
  padding-left: 40px;
    font-size: 30px;
}

 .card {
  width: 18rem;
   
}
.blocks > .card {
  width: 50px;
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  height: 600px;
  
}
.blocks{
  border:2px solid black;
  display: flex;
  padding: 20px;
  margin: 50px;
  margin-top: 0px;
  height: 1000px;
  
}
input{
  width: 300px;
  height: 25px;
  font-size: 20px;
}
button{
  font-size:13px ;
}
.display{
  font-size: 15px;
}
li{
  padding: 1px;
}

</style
</html>